# Node.js
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/

# Large Datasets (GitHub has a 100MB limit)
*.csv
*.xlsx
# Exceptions: keep the small test file for demo
!perfect_patient.csv

# System
.DS_Store
Thumbs.db